body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:259px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:20px;
  width:126px;
  height:60px;
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:122px;
  word-wrap:break-word;
}
#u207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:110px;
  width:200px;
  height:60px;
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:196px;
  word-wrap:break-word;
}
#u208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:289px;
  width:200px;
  height:60px;
}
#u208_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:196px;
  word-wrap:break-word;
}
#u209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:199px;
  width:200px;
  height:60px;
}
#u209_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:196px;
  word-wrap:break-word;
}
#u210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:20px;
  width:1px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u210_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:80px;
  width:0px;
  height:0px;
}
#u211_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u211_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:17px;
  width:18px;
  height:19px;
}
#u211_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:170px;
  width:0px;
  height:0px;
}
#u212_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:33px;
}
#u212_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:16px;
  width:18px;
  height:19px;
}
#u212_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:259px;
  width:0px;
  height:0px;
}
#u213_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u213_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:17px;
  width:18px;
  height:19px;
}
#u213_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:349px;
  width:0px;
  height:0px;
}
#u214_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u214_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:17px;
  width:18px;
  height:19px;
}
#u214_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:381px;
  width:200px;
  height:60px;
}
#u215_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:196px;
  word-wrap:break-word;
}
#u216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:475px;
  width:126px;
  height:60px;
}
#u216_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:122px;
  word-wrap:break-word;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:441px;
  width:0px;
  height:0px;
}
#u217_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:38px;
}
#u217_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:21px;
  width:18px;
  height:19px;
}
#u217_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
