body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:742px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2061 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2062_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:604px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2062 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:63px;
  width:375px;
  height:604px;
}
#u2062_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2063_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:63px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2063 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:63px;
}
#u2063_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2064_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2064 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:25px;
  width:133px;
  height:31px;
  font-size:16px;
}
#u2064_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2065 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:32px;
  width:24px;
  height:24px;
}
#u2065_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2066 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:32px;
  width:24px;
  height:24px;
}
#u2066_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2067 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:63px;
  width:375px;
  height:600px;
  overflow:hidden;
  touch-action:none;
}
#u2067_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:600px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2067_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2068 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:174px;
}
#u2069 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:174px;
}
#u2069_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2070_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 221, 0, 1);
  border:none;
  border-radius:83px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2070 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:87px;
  width:300px;
  height:53px;
  font-size:20px;
}
#u2070_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:296px;
  word-wrap:break-word;
}
#u2071_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2071 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:201px;
  width:148px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2071_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u2072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u2072 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:674px;
  width:375px;
  height:1px;
}
#u2072_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2073 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:347px;
  width:323px;
  height:120px;
}
#u2074_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u2074 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
  font-size:12px;
  color:#1E1E1E;
}
#u2074_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  word-wrap:break-word;
}
#u2075_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u2075 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:0px;
  width:93px;
  height:30px;
  font-size:12px;
  color:#1E1E1E;
}
#u2075_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  word-wrap:break-word;
}
#u2076_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u2076 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:0px;
  width:75px;
  height:30px;
  font-size:12px;
  color:#1E1E1E;
}
#u2076_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u2077_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u2077 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:0px;
  width:74px;
  height:30px;
  font-size:12px;
  color:#1E1E1E;
}
#u2077_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u2078_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u2078 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:81px;
  height:30px;
  font-size:12px;
  color:#1E1E1E;
}
#u2078_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  word-wrap:break-word;
}
#u2079_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u2079 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:30px;
  width:93px;
  height:30px;
  font-size:12px;
  color:#1E1E1E;
}
#u2079_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  word-wrap:break-word;
}
#u2080_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u2080 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:30px;
  width:75px;
  height:30px;
  font-size:12px;
  color:#1E1E1E;
}
#u2080_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u2081_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u2081 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:30px;
  width:74px;
  height:30px;
  font-size:12px;
  color:#1E1E1E;
}
#u2081_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u2082_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u2082 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:81px;
  height:30px;
  font-size:12px;
  color:#1E1E1E;
}
#u2082_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  word-wrap:break-word;
}
#u2083_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u2083 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:60px;
  width:93px;
  height:30px;
  font-size:12px;
  color:#1E1E1E;
}
#u2083_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  word-wrap:break-word;
}
#u2084_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u2084 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:60px;
  width:75px;
  height:30px;
  font-size:12px;
  color:#1E1E1E;
}
#u2084_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u2085_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u2085 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:60px;
  width:74px;
  height:30px;
  font-size:12px;
  color:#1E1E1E;
}
#u2085_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2086_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u2086 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:81px;
  height:30px;
  font-size:12px;
  color:#1E1E1E;
}
#u2086_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  word-wrap:break-word;
}
#u2087_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u2087 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:90px;
  width:93px;
  height:30px;
  font-size:12px;
  color:#1E1E1E;
}
#u2087_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  word-wrap:break-word;
}
#u2088_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u2088 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:90px;
  width:75px;
  height:30px;
  font-size:12px;
  color:#1E1E1E;
}
#u2088_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2089_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u2089 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:90px;
  width:74px;
  height:30px;
  font-size:12px;
  color:#1E1E1E;
}
#u2089_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2090_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2090 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:299px;
  width:95px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2090_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u2091_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 221, 0, 1);
  border:none;
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2091 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:244px;
  width:103px;
  height:39px;
}
#u2091_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u2092_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:39px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2092 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:244px;
  width:103px;
  height:39px;
}
#u2092_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u2093_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:39px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2093 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:244px;
  width:103px;
  height:39px;
}
#u2093_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u2094_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2094 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:440px;
  width:65px;
  height:22px;
}
#u2094_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2095_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:11px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2095 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:146px;
  width:244px;
  height:11px;
}
#u2095_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2096_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:11px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2096 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:146px;
  width:172px;
  height:11px;
}
#u2096_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2097_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2097 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:143px;
  width:30px;
  height:18px;
}
#u2097_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u2098_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2098 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:68px;
  width:300px;
  height:91px;
}
#u2098_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
