body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  font-size:14px;
}
#u243_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:45px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:614px;
  width:101px;
  height:45px;
  font-size:14px;
}
#u244_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:97px;
  word-wrap:break-word;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:49px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:610px;
  width:101px;
  height:49px;
  font-size:14px;
}
#u246_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:97px;
  word-wrap:break-word;
}
#u247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:81px;
  width:300px;
  height:77px;
}
#u247_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:45px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:614px;
  width:101px;
  height:45px;
  font-size:14px;
}
#u248_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:97px;
  word-wrap:break-word;
}
#u249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:153px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:81px;
  width:329px;
  height:153px;
}
#u249_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:101px;
  width:300px;
  height:101px;
}
#u250_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
