body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  font-size:14px;
}
#u228_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:45px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:614px;
  width:101px;
  height:45px;
  font-size:14px;
}
#u229_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:97px;
  word-wrap:break-word;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:49px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:610px;
  width:101px;
  height:49px;
  font-size:14px;
}
#u231_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:97px;
  word-wrap:break-word;
}
#u232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:153px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:81px;
  width:300px;
  height:153px;
}
#u232_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:45px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:614px;
  width:101px;
  height:45px;
  font-size:14px;
}
#u233_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:97px;
  word-wrap:break-word;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:181px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:100px;
  width:331px;
  height:181px;
}
#u235_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 221, 0, 1);
  border:none;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:100px;
  width:331px;
  height:130px;
}
#u237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:130px;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:173px;
  height:130px;
}
#u238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:246px;
  width:235px;
  height:18px;
  font-size:14px;
}
#u239_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
