body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:365px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:8px;
  width:210px;
  height:25px;
}
#u167_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
