body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:742px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:604px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2227 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:63px;
  width:375px;
  height:604px;
}
#u2227_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:63px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2228 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:63px;
}
#u2228_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2229 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:25px;
  width:133px;
  height:31px;
  font-size:16px;
}
#u2229_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2230 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:32px;
  width:24px;
  height:24px;
}
#u2230_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2231 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:32px;
  width:24px;
  height:24px;
}
#u2231_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:63px;
  width:375px;
  height:600px;
  overflow:hidden;
  touch-action:none;
}
#u2232_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:600px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2232_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2233 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:174px;
}
#u2234 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:174px;
}
#u2234_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 221, 0, 1);
  border:none;
  border-radius:83px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2235 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:87px;
  width:300px;
  height:53px;
  font-size:20px;
}
#u2235_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:296px;
  word-wrap:break-word;
}
#u2236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2236 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:201px;
  width:148px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2236_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u2237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u2237 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:674px;
  width:375px;
  height:1px;
}
#u2237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2238 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:347px;
  width:323px;
  height:120px;
}
#u2239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u2239 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
  font-size:12px;
  color:#1E1E1E;
}
#u2239_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  word-wrap:break-word;
}
#u2240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u2240 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:0px;
  width:93px;
  height:30px;
  font-size:12px;
  color:#1E1E1E;
}
#u2240_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  word-wrap:break-word;
}
#u2241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u2241 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:0px;
  width:75px;
  height:30px;
  font-size:12px;
  color:#1E1E1E;
}
#u2241_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u2242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u2242 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:0px;
  width:74px;
  height:30px;
  font-size:12px;
  color:#1E1E1E;
}
#u2242_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u2243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u2243 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:81px;
  height:30px;
  font-size:12px;
  color:#1E1E1E;
}
#u2243_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  word-wrap:break-word;
}
#u2244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u2244 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:30px;
  width:93px;
  height:30px;
  font-size:12px;
  color:#1E1E1E;
}
#u2244_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  word-wrap:break-word;
}
#u2245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u2245 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:30px;
  width:75px;
  height:30px;
  font-size:12px;
  color:#1E1E1E;
}
#u2245_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u2246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u2246 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:30px;
  width:74px;
  height:30px;
  font-size:12px;
  color:#1E1E1E;
}
#u2246_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u2247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u2247 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:81px;
  height:30px;
  font-size:12px;
  color:#1E1E1E;
}
#u2247_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  word-wrap:break-word;
}
#u2248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u2248 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:60px;
  width:93px;
  height:30px;
  font-size:12px;
  color:#1E1E1E;
}
#u2248_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  word-wrap:break-word;
}
#u2249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u2249 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:60px;
  width:75px;
  height:30px;
  font-size:12px;
  color:#1E1E1E;
}
#u2249_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u2250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u2250 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:60px;
  width:74px;
  height:30px;
  font-size:12px;
  color:#1E1E1E;
}
#u2250_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u2251 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:81px;
  height:30px;
  font-size:12px;
  color:#1E1E1E;
}
#u2251_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  word-wrap:break-word;
}
#u2252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u2252 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:90px;
  width:93px;
  height:30px;
  font-size:12px;
  color:#1E1E1E;
}
#u2252_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  word-wrap:break-word;
}
#u2253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u2253 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:90px;
  width:75px;
  height:30px;
  font-size:12px;
  color:#1E1E1E;
}
#u2253_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u2254 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:90px;
  width:74px;
  height:30px;
  font-size:12px;
  color:#1E1E1E;
}
#u2254_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2255 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:299px;
  width:103px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2255_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u2256_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:39px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2256 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:244px;
  width:103px;
  height:39px;
}
#u2256_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u2257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 221, 0, 1);
  border:none;
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2257 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:244px;
  width:103px;
  height:39px;
}
#u2257_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u2258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:39px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2258 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:244px;
  width:103px;
  height:39px;
}
#u2258_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u2259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2259 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:440px;
  width:65px;
  height:22px;
}
#u2259_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2260 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:68px;
  width:300px;
  height:92px;
}
#u2260_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
